.aside1{
  display: none;
}

.header nav {
  display: none;
}

.footer nav{
  display:none;
}

body{
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

header.header {
  background: #fae6e6;
  color: #940000;
  padding: 25px;
  border-radius: 50px;
  margin: 50px;
  text-align: center;
  border-style: double;
}
main{
  display: grid;
  grid-template-columns: 1fr;
}

.container article{
  border: 1px dotted #940000;
  margin: 20px;
  border-radius: 50px;
  padding: 20px;
  background-color: #f8eeee;
}

footer{
  background: #fae6e6;
  color: #940000;
  border-radius: 50px;
  margin: 20px;
  text-align: center;
}