.container{
  width: 100%

}

@media (min-width: 768px){
  .container
  .header
  .footer {
    width: 75%;
    margin: 0 auto;
  }
}
.aside1{
  display: none;
}

.header nav {
  display: none;
}

.footer nav{
  display:none;
}

body{
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

img{
  max-width: 100%;
  height: auto;
}

header.header {
  position: sticky;
  top: 0;
  background: #ffe4e1;
  color: #940000;
  padding: 25px;
  border-radius: 50px;
  margin: 50px;
  text-align: center;
  border-style: double;
}
main{
  display: grid;
  grid-template-columns: 1fr;
}

.container article{
  margin: 20px;
  border-radius: 50px;
  padding: 15px;
  background: #e7d8c8;
  color: #362304;
}

.mainfooter{
  position: sticky;
  bottom: 0;
  background: #ffe4e1;
  color: #940000;
  border-radius: 50px;
  margin: 20px;
  text-align: center;

}

@media (min-width: 1200px) {
  .header nav{
    display: block;
    display: flex;
    flex-direction:row;
    justify-content: space-around;

  }

  .aside1{
    display: block;
  }  

  
.footer nav{
    display: block;
  }

  .container {
    display: grid;
    grid-template-columns: 2fr 2fr 1.5fr; 
    grid-template-rows: auto;     
    gap: 20px;
    margin: 0 auto;
    padding: 15px;
  }

  .container article {
    padding: 15px;
    background: #e7d8c8;
    color: #362304;
  }

  .container aside {
    grid-column: 3;
    grid-row: 1/ 3;
    border-radius: 50px;
  }

  .container aside section{
    border-radius: 50px;
    color: #0f261f;
    padding: 15px;
    background: #d2bbb2;
    padding: 25px;
    margin: 20px;
  }

  img{
  max-width: 100%;
  height: auto;
  
}

}
